<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymsw.quota.mapper.QuotaManagerMapper">
    
    <resultMap type="QuotaManager" id="QuotaManagerResult">
        <result property="quotaId"    column="quota_id"    />
        <result property="userId"    column="user_id"    />
        <result property="allowTotalCount"    column="allow_total_count"    />
        <result property="nowTotalCount"    column="now_total_count"    />
        <result property="allowTodayCount"    column="allow_today_count"    />
        <result property="nowTodayCount"    column="now_today_count"    />
        <result property="quotaStatus"    column="quota_status"    />
        <result property="userName"    column="user_name"    />
        <result property="phonenumber"    column="phonenumber"    />

    </resultMap>

    <sql id="selectQuotaManagerVo">
        select quota_id, user_id, allow_total_count, now_total_count, allow_today_count, now_today_count, quota_status from quota_manager
    </sql>

    <sql id="selectQuotaManager">
        select u.user_name, u.phonenumber, quota_id, qm.user_id, allow_total_count, now_total_count, allow_today_count, now_today_count, quota_status
        from quota_manager qm
        left join sys_user u on u.user_id = qm.user_id
        left join sys_dept d on d.dept_id = u.dept_id
    </sql>

    <select id="selectQuotaManagerList" parameterType="QuotaManager" resultMap="QuotaManagerResult">
        <include refid="selectQuotaManager"/>
        <where>
            u.status = '0' and u.is_distribute = 'Y'  /*在职的员工*/
            <if test="params.userName != null and params.userName !=''"> and u.user_name like concat('%',#{params.userName},'%')</if>
            <if test="params.phonenumber != null and params.phonenumber !=''"> and u.phonenumber like concat('%',#{params.phonenumber},'%')</if>
            <if test="params.deptId != null and params.deptId !=''">
                and (u.dept_id = #{params.deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{params.deptId},ancestors) ))
            </if>
        </where>
    </select>
    
    <select id="selectQuotaManagerById" parameterType="Long" resultMap="QuotaManagerResult">
        <include refid="selectQuotaManagerVo"/>
        where quota_id = #{quotaId}
    </select>
        
    <insert id="insertQuotaManager" parameterType="QuotaManager">
        insert into quota_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quotaId != null ">quota_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="allowTotalCount != null ">allow_total_count,</if>
            <if test="nowTotalCount != null ">now_total_count,</if>
            <if test="allowTodayCount != null ">allow_today_count,</if>
            <if test="nowTodayCount != null ">now_today_count,</if>
            <if test="quotaStatus != null  and quotaStatus != ''">quota_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quotaId != null ">#{quotaId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="allowTotalCount != null ">#{allowTotalCount},</if>
            <if test="nowTotalCount != null ">#{nowTotalCount},</if>
            <if test="allowTodayCount != null ">#{allowTodayCount},</if>
            <if test="nowTodayCount != null ">#{nowTodayCount},</if>
            <if test="quotaStatus != null  and quotaStatus != ''">#{quotaStatus},</if>
         </trim>
    </insert>

    <update id="updateQuotaManager" parameterType="QuotaManager">
        update quota_manager
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="allowTotalCount != null ">allow_total_count = #{allowTotalCount},</if>
            <if test="nowTotalCount != null ">now_total_count = #{nowTotalCount},</if>
            <if test="allowTodayCount != null ">allow_today_count = #{allowTodayCount},</if>
            <if test="nowTodayCount != null ">now_today_count = #{nowTodayCount},</if>
            <if test="quotaStatus != null  and quotaStatus != ''">quota_status = #{quotaStatus},</if>
        </trim>
        where quota_id = #{quotaId}
    </update>

    <delete id="deleteQuotaManagerById" parameterType="Long">
        delete from quota_manager where quota_id = #{quotaId}
    </delete>

    <delete id="deleteQuotaManagerByIds" parameterType="String">
        delete from quota_manager where quota_id in 
        <foreach item="quotaId" collection="array" open="(" separator="," close=")">
            #{quotaId}
        </foreach>
    </delete>

    <!--批量修改配额状态-->
    <update id="changeStatus">
        UPDATE quota_manager SET quota_status = #{quotaStatus} WHERE quota_id in
        <foreach collection="quotaIds" open="(" close=")" item="quotaId" separator=",">
            #{quotaId}
        </foreach>
    </update>

    <!--回显配额总数-->
    <select id="countTotal" resultType="int">
        select sum(allow_today_count) from quota_manager qm left join sys_user u on u.user_id = qm.user_id where u.status = 0 and u.is_distribute= 'Y'
    </select>

    <!--批量配额设置-->
    <update id="batchEdit">
        UPDATE quota_manager SET allow_today_count = #{allowTodayCount}
        <where>
            <if test="quotaIds != null">quota_id in
                <foreach collection="quotaIds" open="(" close=")" item="quotaId" separator=",">
                    #{quotaId}
                </foreach>
            </if>
        </where>
    </update>

    <!--根据门店（用户标识）修改总限额数-->
    <update id="editAllowTotalCount">
        UPDATE quota_manager SET allow_total_count = #{allowTotalCount}
        <where>
            <if test="userIds != null">user_id in
                <foreach collection="userIds" open="(" close=")" item="userId" separator=",">
                    #{userId}
                </foreach>
            </if>
        </where>
    </update>

    <!--根据quotaIds批量修改总限额数-->
    <update id="editTotalCount">
        UPDATE quota_manager SET allow_total_count = #{allowTotalCount}
        <where>
            <if test="quotaIds != null">quota_id in
                <foreach collection="quotaIds" open="(" close=")" item="quotaId" separator=",">
                    #{quotaId}
                </foreach>
            </if>
        </where>
    </update>

    <!--根据userId查询配额信息-->
    <select id="selectQuotaManagerByUserId" parameterType="Long" resultMap="QuotaManagerResult">
        select * from quota_manager where user_id = #{userId}
    </select>

</mapper>