<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('收藏夹-公共池列表')" />
    <th:block th:include="include :: select2-css" />
    <style>
        #bootstrap-table>thead>tr {background-color: rgb(237,85,101);color: white;}
        #bootstrap-table>thead>tr>th {border: 1px solid white;font-size: 15px}
        #bootstrap-table>tbody>tr:nth-child(odd) {background: rgba(237, 255, 245, 0.68);}
        .finger{ cursor: pointer;}
        body{font-size: 15px}
    </style>
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse" style="padding-left: 30px">
            <form id="formId" class="form-inline">
                <div class="row">
                    <div class="input-group col-xs-2">
                        <div class="input-group-addon " style="background-color: #efefef;width: 50%">星级</div>
                        <select name="customerStar" th:with="type=${@dict.getType('customer_star')}" class="form-control">
                            <option value="">-不限-</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                    <div class="input-group col-xs-2 col-xs-offset-1">
                        <div class="input-group-addon " style="background-color: #efefef;width: 50%">客户类型</div>
                        <select name="customerType" th:with="type=${@dict.getType('customer_type')}" class="form-control">
                            <option value="">-不限-</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>

                    <div class="input-group col-xs-2 col-xs-offset-1">
                        <div class="input-group-addon " style="background-color: #efefef;width: 50%">客户状态</div>
                        <select name="customerStatus" th:with="type=${@dict.getType('customer_status')}" class="form-control">
                            <option value="">-不限-</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                    <div class="input-group col-xs-2 col-xs-offset-1">
                        <div class="input-group-addon " style="background-color: #efefef;width: 50%">未跟进天数</div>
                        <select name="params[noDays]" th:with="type=${@dict.getType('customer_no_days')}" class="form-control">
                            <option value="">-不限-</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div><br>
                <div class="row">
                    <div class="input-group col-xs-2">
                        <div class="input-group-addon" style="background-color: #efefef;width: 50%">姓名</div>
                        <input type="text" class="form-control" name="customerName">
                    </div>
                    <div class="input-group col-xs-2 col-xs-offset-1">
                        <div class="input-group-addon" style="background-color: #efefef;width: 50%">手机号</div>
                        <input type="text" class="form-control" name="customerPhone">
                        <!--                            </div>-->
                    </div>
                    <div class="input-group col-xs-2 col-xs-offset-1">
                        <div class="input-group-addon" style="background-color: #efefef;width: 50%">最后备注开始</div>
                        <input type="text" class="time-input form-control" id="startTime" name="params[beginRemarkTime]" />
                    </div>
                    <div class="input-group col-xs-2 col-xs-offset-1">
                        <div class="input-group-addon" style="background-color: #efefef;width: 50%">最后备注结束</div>
                        <input type="text" class="time-input form-control" id="endTime" name="params[endRemarkTime]"/>
                    </div>
                </div><br>
                <div class="row">
                    <div class="input-group col-xs-2">
                        <div class="input-group-addon" style="background-color: #efefef;width: 50%">通话状态</div>
                        <select name="phoneStatus" th:with="type=${@dict.getType('phone_status')}" class="form-control">
                            <option value="">-不限-</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                    <div class="input-group col-xs-6 col-xs-offset-1">
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasCar" value="1"> <i></i>房
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasHouse" value="1"> <i></i>车
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasWarranty" value="1"> <i></i>保单
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasSocial" value="1"> <i></i>社保
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasWeilidai" value="1"> <i></i>微粒贷
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasAccumulation" value="1"> <i></i>公积金
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="customerSalary" value="1"> <i></i>代发工资
                        </div>
                        <a class="btn btn-primary btn-rounded btn-md" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </div>
                </div>
                <input type="text" value="2" hidden name="params[cpType]">
            </form>
        </div>
        <div class="btn-group-md" id="toolbar" role="group">
            <a class="btn btn-warning multiple disabled" onclick="reallocation()" shiro:hasPermission="customer:manage:reallocation">
                <i class="fa fa-plus"></i> 抽回重分配
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('customer:main:edit')}]];
    var removeFlag = [[${@permission.hasPermi('customer:pool:remove')}]];
    var customerSexDatas = [[${@dict.getType('sys_user_sex')}]];
    var customerStatusDatas = [[${@dict.getType('customer_status')}]];
    var customerStarDatas = [[${@dict.getType('customer_star')}]];
    var prefix = ctx + "customer/pool";

    $(function() {
        var options = {
            url: prefix + "/poolList",
            updateUrl: ctx + "customer/main/edit/{id}",
            removeUrl: prefix + "/remove",
            striped: true,//隔行换色
            sortName: "remarkTime",
            sortOrder: "desc",
            rememberSelected: true,
            showToggle: false,
            modalName: "客户详情",
            uniqueId: "customerId",
            onClickCell: function (field,value,row,$element) {  //点击姓名进入编辑页面
                if (field == 'customerName' && editFlag != "hidden") {
                    $.operate.editTab2(row.customerId,row.customerName);
                }
            },
            columns: [{
                field: 'state',
                checkbox: true
            },
                {
                    field : 'customerId',
                    title : '客户编号',
                    halign: 'center',
                    align: 'center'
                },
                {
                    field : 'customerName',
                    title : '客户姓名',
                    halign: 'center',
                    align: 'center',
                    class:"finger"
                },
                {
                    field : 'customerSex',
                    title : '性别',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(customerSexDatas, value);
                    }
                },
                {
                    field : 'customerBirth',
                    title : '年龄',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var date = new Date();
                        return date.getFullYear()-value;
                    }
                },
                {
                    field : 'customerQuota',
                    title : '额度(万)',
                    halign: 'center',
                    align: 'center'
                },
                {
                    field : 'customerStar',
                    title : '星级',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(customerStarDatas, value);
                    }
                },
                {
                    field : 'customerStatus',
                    title : '客户状态',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(customerStatusDatas, value);
                    }
                },
                {
                    field : 'userName',
                    title : '原归属顾问',
                    halign: 'center',
                    align: 'center'
                },
                {
                    field : 'deptName',
                    title : '部门',
                    halign: 'center',
                    align: 'center',
                    visible: false,
                },
                {
                    field : 'remark',
                    title : '备注',
                    halign: 'center',
                    align: 'left',
                    width: 500
                },
                {
                    field : 'distributeTime',
                    title : '分配时间',
                    halign: 'center',
                    align: 'center',
                    sortable: true
                },
                {
                    field : 'remarkTime',
                    title : '备注时间',
                    halign: 'center',
                    align: 'center',
                    sortable: true
                },
                {
                    field : 'applyTime',
                    title : '申请时间',
                    halign: 'center',
                    align: 'center',
                    sortable: true
                }]
        };
        $.table.init(options);
    });

    // 抽回重分配
    function reallocation(){
        var uniqueId = table.options.uniqueId;
        // 工具栏按钮控制
        var rows = $.common.isEmpty(uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(uniqueId);
        //var userIds = $.table.selectAllColumns("userId");
        var data = [];
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        for (i = 0;i < rows.length;i ++){
            // data.push({"customerId":rows[i],"userId":userIds[i]});
            data.push({"customerId":rows[i]});
        }
        sessionStorage.setItem('ymswCustomers', JSON.stringify(data));   //要分配的数据放入sessionStorage，在reallocation.html页面里取出来
        $.modal.open('重分配配置', ctx + 'customer/main/reallocation');

    }
</script>
</body>
</html>