<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改配额管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-main-edit" th:object="${quotaManager}">
            <input name="quotaId" th:field="*{quotaId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户id：</label>
                <div class="col-sm-8">
                    <input name="userId" th:field="*{userId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总限额数：</label>
                <div class="col-sm-8">
                    <input name="allowTotalCount" th:field="*{allowTotalCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">当前客户数：</label>
                <div class="col-sm-8">
                    <input name="nowTotalCount" th:field="*{nowTotalCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">今日配额数：</label>
                <div class="col-sm-8">
                    <input name="allowTodayCount" th:field="*{allowTodayCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">今日已分配客户数：</label>
                <div class="col-sm-8">
                    <input name="nowTodayCount" th:field="*{nowTodayCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">配额状态 0 关闭 1开启：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="quotaStatus" value="">
                        <label th:for="quotaStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "quota/main";
        $("#form-main-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-main-edit').serialize());
            }
        }
    </script>
</body>
</html>