<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户信息表列表')" />
    <th:block th:include="include :: select2-css" />
    <style>
        #bootstrap-table>thead>tr {background-color: rgb(237,85,101);color: white;}
        #bootstrap-table>thead>tr>th {border: 1px solid white;font-size: 15px}
        #bootstrap-table>tbody>tr:nth-child(odd) {background: rgba(237, 255, 245, 0.68);}
        .finger{ cursor: pointer;}
        body{font-size: 15px}
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse" style="padding-left: 30px">
                <form id="formId" class="form-inline">
                    <div class="row">
                        <div class="input-group col-xs-2">
                            <div class="input-group-addon " style="background-color: #efefef;width: 50%">星级</div>
                            <select name="customerStar" th:with="type=${@dict.getType('customer_star')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 50%">客户类型</div>
                            <select name="customerType" th:with="type=${@dict.getType('customer_type')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 50%">客户状态</div>
                            <select name="customerStatus" th:with="type=${@dict.getType('customer_status')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 50%">未跟进天数</div>
                            <select name="params[noDays]" th:with="type=${@dict.getType('customer_no_days')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="input-group col-xs-2">
                            <div class="input-group-addon" style="background-color: #efefef;width: 50%">客户姓名</div>
                            <input type="text" class="form-control" name="customerName">
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon" style="background-color: #efefef;width: 50%">手机号</div>
                            <input type="text" class="form-control" name="customerPhone">
                            <!--                            </div>-->
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon" style="background-color: #efefef;width: 50%">最后备注开始</div>
                            <input type="text" class="time-input form-control" id="startTime" name="params[beginRemarkTime]" />
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon" style="background-color: #efefef;width: 50%">最后备注结束</div>
                            <input type="text" class="time-input form-control" id="endTime" name="params[endRemarkTime]"/>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="input-group col-xs-2">
                            <div class="input-group-addon" style="background-color: #efefef;width: 50%">通话状态</div>
                            <select name="phoneStatus" th:with="type=${@dict.getType('phone_status')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 50%">所属组织</div>
                            <select name="params[deptId]" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="sysDept,sysDepts:${sysDepts}" th:value="${sysDept.deptId}" th:text="${sysDept.deptName}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 50%">归属顾问</div>
                            <select name="userId" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="user,sysUsers:${sysUsers}" th:value="${user.userId}" th:text="${user.userName}"></option>
                            </select>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="input-group col-xs-6">
                            <!--<div class="checkbox check-box">
                                <input type="checkbox" name="params[cpType]" value="2"> <i></i><strong style="color: red">是否公共池</strong>
                            </div>-->
                            <div class="checkbox check-box">
                                <input type="checkbox" name="hasCar" value="1"> <i></i>房
                            </div>
                            <div class="checkbox check-box">
                                <input type="checkbox" name="hasHouse" value="1"> <i></i>车
                            </div>
                            <div class="checkbox check-box">
                                <input type="checkbox" name="hasWarranty" value="1"> <i></i>保单
                            </div>
                            <div class="checkbox check-box">
                                <input type="checkbox" name="hasSocial" value="1"> <i></i>社保
                            </div>
                            <div class="checkbox check-box">
                                <input type="checkbox" name="hasWeilidai" value="1"> <i></i>微粒贷
                            </div>
                            <div class="checkbox check-box">
                                <input type="checkbox" name="hasAccumulation" value="1"> <i></i>公积金
                            </div>
                            <div class="checkbox check-box">
                                <input type="checkbox" name="customerSalary" value="1"> <i></i>代发工资
                            </div>
                            <a class="btn btn-primary btn-rounded btn-md" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="btn-group-md" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.operate.add()" shiro:hasPermission="customer:main:add">
                    <i class="fa fa-plus"></i> 新增客户
                </a>
                <a class="btn btn-warning multiple disabled" onclick="addTOPool()" shiro:hasPermission="customer:pool:addToCollectionPool">
                    <i class="fa fa-plus"></i> 放入公共池
                </a>
                <!--<a class="btn btn-warning" onclick="addTOCollection()" shiro:hasPermission="customer:pool:addToCollectionPool">
                    <i class="fa fa-plus"></i> 加入收藏夹
                </a>-->
                <!--<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="customer:main:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="customer:main:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-warning multiple disabled" onclick="reallocation()" shiro:hasPermission="customer:manage:reallocation">
                    <i class="fa fa-plus"></i> 抽回重分配
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="customer:main:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
                <a class="btn btn-warning" onclick="$.table.importExcel()" shiro:hasPermission="customer:main:import">
			            <i class="fa fa-upload"></i> 导入
			        </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('customer:main:edit')}]];
        var removeFlag = [[${@permission.hasPermi('customer:main:remove')}]];
        var customerSexDatas = [[${@dict.getType('sys_user_sex')}]];
        var customerStatusDatas = [[${@dict.getType('customer_status')}]];
        var customerStarDatas = [[${@dict.getType('customer_star')}]];
        var prefix = ctx + "customer/main";

        var userId = [[${@permission.getPrincipalProperty('userId')}]]; //当前登陆用户id
        var pageList2 = [10, 25, 50];
        if (userId == 2){   //userId为2时是王文浩，分页项就给300
            pageList2 = [10, 25, 50, 300];
        }
        $(function() {
            var options = {
                url: prefix + "/managelist",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/removeaa",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                striped: true,//隔行换色
                sortName: "userId",
                sortOrder: "desc",
                rememberSelected: true,
                pageList: pageList2,
                showToggle: false,
                modalName: "客户详情",
                onClickCell: function (field,value,row,$element) {  //点击姓名、性别、额度、年龄、状态单元格时进入编辑页面
                    // if (field == 'customerName' || field == 'customerSex' || field == 'customerBirth' || field == 'customerQuota' || field == 'customerStatus') {
                    if (field == 'customerName' && editFlag != "hidden") {
                        $.operate.editTab2(row.customerId,row.customerName);
                    }
                },
                columns: [{
                    field: 'state',
                    checkbox: true
                },
                {
                    field : 'customerId',
                    title : '客户编号',
                    halign: 'center',
                    align: 'center'
                },
                {
                    field : 'customerName',
                    title : '客户姓名',
                    halign: 'center',
                    align: 'center',
                    class:"finger"
                },
                {
                    field : 'customerSex',
                    title : '性别',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerSexDatas, value);
                    }
                },
                {
                    field : 'customerBirth',
                    title : '年龄',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var date = new Date();
                        return date.getFullYear()-value;
                    }
                },
                {
                    field : 'customerQuota',
                    title : '额度(万)',
                    halign: 'center',
                    align: 'center'
                },
                {
                    field : 'customerStar',
                    title : '星级',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(customerStarDatas, value);
                    }
                },
                {
                    field : 'customerStatus',
                    title : '客户状态',
                    halign: 'center',
                    align: 'center',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerStatusDatas, value);
                    }
                },
                {
                    field : 'userName',
                    title : '归属顾问',
                    halign: 'center',
                    align: 'center',
                },
                {
                    field : 'remark',
                    title : '备注',
                    halign: 'center',
                    align: 'left',
                    width: 500
                },
                {
                    field : 'distributeTime',
                    title : '分配时间',
                    halign: 'center',
                    align: 'center',
                    sortable: true
                },
                {
                    field : 'remarkTime',
                    title : '备注时间',
                    halign: 'center',
                    align: 'center',
                    sortable: true
                },
                {
                    field : 'applyTime',
                    title : '申请时间',
                    halign: 'center',
                    align: 'center',
                    sortable: true
                }]
            };
            $.table.init(options);
        });

        // 批量加入公共池
        function addTOPool() {
            var uniqueId = table.options.uniqueId;
            // 工具栏按钮控制
            var rows = $.common.isEmpty(uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(uniqueId);
            var userIds = $.table.selectAllColumns("userId");
            var data = [];
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            for (i = 0;i < rows.length;i ++){
                data.push({"customerId":rows[i],"userId":userIds[i]});
            }
            $.modal.confirm("确定要将选中的" + rows.length + "条数据加入公共池吗?", function() {
                var url = ctx + "customer/pool/addToCollectionPoll";
                var reallocationVo = { "ymswCustomers": data, "type":2 };
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json",
                    data: JSON.stringify(reallocationVo),
                    traditional: true,
                    dataType: "json",
                    success: function (result) {
                        var type = 1;
                        if (result.code == 500){
                            type = 0;
                        }
                        $.modal.confirm2(type,result.msg,function () {
                            $.table.refresh();//刷新父表格
                        });
                    }
                })
            });
        }

        // 批量加入收藏夹
       /* function addTOCollection() {
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确定要将选中的" + rows.length + "条数据加入收藏夹吗?", function() {
                var url = ctx + "customer/pool/addToCollectionPoll";
                var data = { "ids": rows.join(), "type":1 };
                $.operate.submit(url, "post", "json", data);
            });
        }*/

        // 抽回重分配
        function reallocation(){
            var uniqueId = table.options.uniqueId;
            // 工具栏按钮控制
            var rows = $.common.isEmpty(uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(uniqueId);
            var userIds = $.table.selectAllColumns("userId");
            var data = [];
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            for (i = 0;i < rows.length;i ++){
                data.push({"customerId":rows[i],"userId":userIds[i]});
            }
            sessionStorage.setItem('ymswCustomers', JSON.stringify(data));   //要分配的数据放入sessionStorage，在reallocation.html页面里取出来
            $.modal.open('重分配配置', ctx + 'customer/main/reallocation');

        }
    </script>
</body>

<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>