<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymsw.customer.mapper.YmswCollectionPoolMapper">
    
    <resultMap type="YmswCollectionPool" id="YmswCollectionPoolResult">
        <result property="cpId"    column="cp_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="userId"    column="user_id"    />
        <result property="addTime"    column="add_time"    />
        <result property="cpType"    column="cp_type"    />
    </resultMap>

    <resultMap type="YmswCustomer" id="YmswCustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerSex"    column="customer_sex"    />
        <result property="customerPhone"    column="customer_phone"    />
        <result property="customerStatus"    column="customer_status"    />
        <result property="phoneStatus"    column="phone_status"    />
        <result property="customerBirth"    column="customer_birth"    />
        <result property="customerQuota"    column="customer_quota"    />
        <result property="customerStar"    column="customer_star"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="hasHouse"    column="has_house"    />
        <result property="hasCar"    column="has_car"    />
        <result property="hasWarranty"    column="has_warranty"    />
        <result property="hasSocial"    column="has_social"    />
        <result property="hasWeilidai"    column="has_weilidai"    />
        <result property="hasCreditCard"    column="has_credit_card"    />
        <result property="hasAccumulation"    column="has_accumulation"    />
        <result property="isOverdue"    column="is_overdue"    />
        <result property="customerType"    column="customer_type"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="customerOccupation"    column="customer_occupation"    />
        <result property="customerSalary"    column="customer_salary"    />
        <result property="channel"    column="channel"    />
        <result property="remarkTime"    column="remark_time"    />
        <result property="distributeTime"    column="distribute_time"    />
        <result property="userName"    column="user_name"    />
        <result property="remark" column="remark_content"    />
        <result property="deptName" column="dept_name"    />
        <result property="cpId" column="cp_id"    />
    </resultMap>

    <sql id="selectYmswCollectionPoolVo">
        select cp_id, customer_id, user_id, add_time, cp_type from ymsw_collection_pool
    </sql>

    <sql id="selectYmswCollectionPoolList">
        select ycp.cp_id, u.user_name, d.dept_name, yr.remark_content, yc.customer_id,yc.phone_status, customer_name, customer_sex, customer_phone, customer_star, customer_status, customer_birth, customer_quota, apply_time, has_house, has_car, has_warranty, has_weilidai, has_credit_card, has_accumulation, is_overdue, customer_type, yc.dept_id, ycp.user_id, customer_occupation, customer_salary, channel, yc.remark_time, distribute_time
        from ymsw_collection_pool ycp
        left join  ymsw_customer yc on yc.customer_id =ycp.customer_id
        left join ymsw_remark yr on yr.customer_id = yc.customer_id and yc.remark_time = yr.remark_time
        left join sys_user u on ycp.user_id = u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <!--查询收藏夹或公共池列表(根据数据范围查询)-->
    <select id="selectYmswCollectionPoolList" parameterType="YmswCustomer" resultMap="YmswCustomerResult">
        <include refid="selectYmswCollectionPoolList"/>
        <where>
            <if test="params.cpType != null  and params.cpType != ''"> and ycp.cp_type= #{params.cpType}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="customerPhone != null  and customerPhone != ''"> and customer_phone like concat('%', #{customerPhone}, '%')</if>
            <if test="customerStatus != null  and customerStatus != ''"> and customer_status = #{customerStatus}</if>
            <if test="phoneStatus != null  and phoneStatus != ''"> and phone_status = #{phoneStatus}</if>
            <if test="customerStar != null and customerStar != '' "> and customer_star = #{customerStar}</if>
            <if test="hasHouse != null  and hasHouse != ''"> and has_house = #{hasHouse}</if>
            <if test="hasCar != null  and hasCar != ''"> and has_car = #{hasCar}</if>
            <if test="hasWarranty != null  and hasWarranty != ''"> and has_warranty = #{hasWarranty}</if>
            <if test="hasWeilidai != null  and hasWeilidai != ''"> and has_weilidai = #{hasWeilidai}</if>
            <if test="hasCreditCard != null  and hasCreditCard != ''"> and has_credit_card = #{hasCreditCard}</if>
            <if test="hasAccumulation != null  and hasAccumulation != ''"> and has_accumulation = #{hasAccumulation}</if>
            <if test="hasSocial != null  and hasSocial != ''"> and has_social = #{hasSocial}</if>
            <if test="customerType != null  and customerType != ''"> and customer_type = #{customerType}</if>
            <if test="userId != null "> and yc.user_id = #{userId}</if>
            <if test="customerSalary != null  and customerSalary != ''"> and customer_salary = #{customerSalary}</if>
            <!-- 未跟进天数，当前时间减去最后备注时间得到天数 -->
            <if test="params.noDays != null and params.noDays != ''"> and datediff(NOW(),yc.remark_time)>= #{params.noDays}</if>
            <if test="params.beginRemarkTime != null and params.beginRemarkTime != ''"><!-- 备注开始时间检索 -->
                AND date_format(yc.remark_time,'%y%m%d') &gt;= date_format(#{params.beginRemarkTime},'%y%m%d')
            </if>
            <if test="params.endRemarkTime != null and params.endRemarkTime != ''"><!-- 备注结束时间检索 -->
                AND date_format(yc.remark_time,'%y%m%d') &lt;= date_format(#{params.endRemarkTime},'%y%m%d')
            </if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
    
    <select id="selectYmswCollectionPoolById" parameterType="Long" resultMap="YmswCollectionPoolResult">
        <include refid="selectYmswCollectionPoolVo"/>
        where cp_id = #{cpId}
    </select>
        
    <insert id="insertYmswCollectionPool" parameterType="YmswCollectionPool">
        insert into ymsw_collection_pool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cpId != null ">cp_id,</if>
            <if test="customerId != null ">customer_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="cpType != null  and cpType != ''">cp_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cpId != null ">#{cpId},</if>
            <if test="customerId != null ">#{customerId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="cpType != null  and cpType != ''">#{cpType},</if>
         </trim>
    </insert>

    <update id="updateYmswCollectionPool" parameterType="YmswCollectionPool">
        update ymsw_collection_pool
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null ">customer_id = #{customerId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="cpType != null  and cpType != ''">cp_type = #{cpType},</if>
        </trim>
        where cp_id = #{cpId}
    </update>

    <delete id="deleteYmswCollectionPoolById" parameterType="Long">
        delete from ymsw_collection_pool where cp_id = #{cpId}
    </delete>

    <delete id="deleteYmswCollectionPoolByIds" parameterType="String">
        delete from ymsw_collection_pool where cp_id in 
        <foreach item="cpId" collection="array" open="(" separator="," close=")">
            #{cpId}
        </foreach>
    </delete>

<!--    批量添加到收藏夹公共池-->
    <insert id="batchInsertYmswCollectionPool" parameterType="List">
        insert into ymsw_collection_pool (customer_id, user_id, add_time, cp_type, oper_user_id) values
        <foreach collection ="list" item="ymswCollectionPool" index= "index" separator =",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{ymswCollectionPool.customerId},#{ymswCollectionPool.userId},#{ymswCollectionPool.addTime},#{ymswCollectionPool.cpType},#{ymswCollectionPool.operUserId}
            </trim>
        </foreach >
    </insert>

    <select id="selectCountByUserId" parameterType="Long" resultType="int">
        select count(1) from ymsw_collection_pool where user_id = #{userId} and cp_type = '1'
    </select>


<!--    <sql id="selectYmswPools">
        select ycp.cp_id, yr.remark_content, yc.customer_id, customer_name, customer_sex, customer_phone, customer_star, customer_status, customer_birth, customer_quota, apply_time, has_house, has_car, has_warranty, has_weilidai, has_credit_card, has_accumulation, is_overdue, customer_type, yc.dept_id, ycp.user_id, customer_occupation, customer_salary, channel, yc.remark_time, distribute_time
        from ymsw_collection_pool ycp
        left join  ymsw_customer yc on yc.customer_id =ycp.customer_id
        left join ymsw_remark yr on yr.customer_id = yc.customer_id and yc.remark_time = yr.remark_time
        left join sys_user u on ycp.user_id = u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

   &lt;!&ndash; 查询公共池列表(做数据范围限制，查询所有公共池数据)&ndash;&gt;
    <select id="selectYmswPoolList" parameterType="YmswCustomer" resultMap="YmswCustomerResult">
        <include refid="selectYmswPools"/>
        <where>
            <if test="params.cpType != null  and params.cpType != ''"> and ycp.cp_type= #{params.cpType}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="customerPhone != null  and customerPhone != ''"> and customer_phone like concat('%', #{customerPhone}, '%')</if>
            <if test="customerStatus != null  and customerStatus != ''"> and customer_status = #{customerStatus}</if>
            <if test="phoneStatus != null  and phoneStatus != ''"> and phone_status = #{phoneStatus}</if>
            <if test="customerStar != null "> and customer_star = #{customerStar}</if>
            <if test="hasHouse != null  and hasHouse != ''"> and has_house = #{hasHouse}</if>
            <if test="hasCar != null  and hasCar != ''"> and has_car = #{hasCar}</if>
            <if test="hasWarranty != null  and hasWarranty != ''"> and has_warranty = #{hasWarranty}</if>
            <if test="hasWeilidai != null  and hasWeilidai != ''"> and has_weilidai = #{hasWeilidai}</if>
            <if test="hasCreditCard != null  and hasCreditCard != ''"> and has_credit_card = #{hasCreditCard}</if>
            <if test="hasAccumulation != null  and hasAccumulation != ''"> and has_accumulation = #{hasAccumulation}</if>
            <if test="hasSocial != null  and hasSocial != ''"> and has_social = #{hasSocial}</if>
            <if test="customerType != null  and customerType != ''"> and customer_type = #{customerType}</if>
            <if test="userId != null "> and yc.user_id = #{userId}</if>
            <if test="customerSalary != null  and customerSalary != ''"> and customer_salary = #{customerSalary}</if>
            &lt;!&ndash; 未跟进天数，当前时间减去最后备注时间得到天数 &ndash;&gt;
            <if test="params.noDays != null and params.noDays != ''"> and datediff(NOW(),yc.remark_time)>= #{params.noDays}</if>
            <if test="params.beginRemarkTime != null and params.beginRemarkTime != ''">&lt;!&ndash; 备注开始时间检索 &ndash;&gt;
                AND date_format(yc.remark_time,'%y%m%d') &gt;= date_format(#{params.beginRemarkTime},'%y%m%d')
            </if>
            <if test="params.endRemarkTime != null and params.endRemarkTime != ''">&lt;!&ndash; 备注结束时间检索 &ndash;&gt;
                AND date_format(yc.remark_time,'%y%m%d') &lt;= date_format(#{params.endRemarkTime},'%y%m%d')
            </if>
        </where>
        &lt;!&ndash; 数据范围过滤 &ndash;&gt;
        ${params.dataScope}
    </select>-->

    <select id="selectIsInCollectionPool"  resultType="int">
        select count(1) from ymsw_collection_pool where customer_id = #{customerId} and cp_type = #{cpType}
    </select>

    <!--抽回重分配时，批量从公共池里删除数据-->
    <delete id="batchDeleteByCustomerIds" parameterType="List">
        delete from ymsw_collection_pool where customer_id in
        <foreach item="cutstomerId" collection="list" open="(" separator="," close=")">
            #{cutstomerId}
        </foreach>
    </delete>
</mapper>