<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增定时提醒')" />
    <th:block th:include="include :: datetimepicker-css" />
    <style>
        body{font-size: 15px}
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-main-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">提醒时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="taskTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">提醒内容：</label>
                <div class="col-sm-8">
                    <textarea name="taskContent" class="form-control" required rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "task/main"
        $("#form-main-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-main-add').serialize());
            }
        }

        $("input[name='taskTime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true,
            minView: 0,
            minuteStep:1
        });
    </script>
</body>
</html>